*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
h1{
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
}

.box1{
    width: 30%;
    height: 300px;
    border: 1px solid black;
    background-color: grey;
    margin-left: 20px;
    margin-top: 50px;
    padding: 10px;
    float: left;
    overflow: hidden;
}



h2{
 margin-left: 10px;

}
.heading1{
    width: 80px;
    float: right;
    height: 25px;
    background-color: hotpink;
    border: 1px solid black;
}

.text1{
    margin-top: 30px;
    font-size: 20px;
}
@media screen and (min-width: 992px){
 
}

/*Tablet Version*/
@media screen and (max-width: 991px) {
    .box1{
        width: 30%;
    }
    .box2{
        width: 80%;
    }
    
}
/*Mobile version*/
@media screen and (max-width: 767px) {
    .box1 {
        width: 80%;
    }
   
}